.dashbord {
    margin: 1.4rem 0 0 .2rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;

    .social-side-icons {
        /* background-color: #0000ff24; */
        padding: 8rem 0 0 2rem;
        width: 5vw;
    }
    
    .icons-info-style {
        padding: 3rem 0 1rem 0;
        font-size: 1.2rem;
        color: #22293d;
    }
    .icons-info-style:hover {
        color: #012d2dcc;
    }

    .dash-container {
        /* background-color: #ffa4b347; */
        width: 100vw;
        height: 96vh;
        background-color: #EDEFF1;

        .header-img {
            background-image: url(../../public/img/abyan-athif-K0U0eSAjFGU-unsplash.jpg);
            height: 30vh;
            border-radius: .7rem;
            background-size: cover;
            background-position: center;
        }
    }

    .dash-ul {
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        padding-left: 1.8rem;
        padding-top: .8rem;
        
        .dash-li {
        text-decoration: none;
        font-weight: 500;
        color: #303545;
        }
    }
    
    .dash-info-containerDivs {
        /* background-color: #39ededd9; */
        height: 50vh;
        margin: 1rem 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        .col1 {
            width: 29vw;
            margin-left: 10px;
            /* background-color: #faebd752; */

            .title-col1 {
                font-weight: 500;
                background-color: #d9b83e7c;
                height: 30px;
                width: 90px;
                border-radius: 10px;
                text-align: center;
                color: #737373;
            }
        }

        .col2 {
            width: 29vw;
            /* background-color: #eec08382; */

            .title-col2 {
                font-weight: 500;
                background-color: #2764a0a9;
                height: 30px;
                width: 90px;
                border-radius: 10px;
                text-align: center;
                color: #5A6C84;
            }
        }

        .col3 {
            width: 29vw;
            /* background-color: #a762073f;
 */
            .title-col3 {
                font-weight: 500;
                background-color: #ef8db9a3;
                height: 30px;
                width: 90px;
                border-radius: 10px;
                text-align: center;
                color: #83794A;
            }
        }
    }
}