.info {
    height: 100vh;
    background-color: #041234;
    color: #F6FAFF;
    padding: 2rem 2rem 0 10rem;

    .grid-info {
        padding-top: 3rem;
        display: grid;
        grid-template-columns: .5fr 2fr .5fr;
        grid-gap: .2rem;
        
        .btns-list {
            width: 50%;
        }
        
        .btns-list a{
            text-decoration: none;
            background-color: #041849;
            color: #F6FAFF;
            padding: 2rem 3rem;
        }
        .btn{
            background-color: #041849;
            color: #F6FAFF;
            padding: 2rem 4rem;
            border: none;
            border-radius: 3px;
        }
        .btn1 {
            padding: 2rem 6rem;
        }
        .btn2 {
            padding: 2rem 5.6rem;
        }
        .btn3 {
            padding: 2rem 5.6rem;
        }
        .btn5 {
            padding: 2rem 4.8rem;
        }
        .btn4 {
            padding: 2rem 5.7rem;
        }
        .btn:hover{
            background-color: #1F5FFE;
            cursor: pointer;
        }
    }

    .platform-info-icons {
        display: grid;
        grid-template-rows: 1.4fr 1.2fr;
        grid-gap: .1rem;

        .platform-info {
            background-color: #F6FAFF;
            color: #041234;

            .title-platform-info {
                padding: 1rem 0 0 2rem;
                font-size: 2.7rem;
            }

            .desc-platform-info {
                padding: .1rem 0 0 2rem;
                font-size: .8rem;
                width: 80%;
            }

            .joinUs-platform-info {
                margin: 3rem 0 0 2rem;
                padding: 1.4rem 6rem;
                border: none;
                background-color: #1F5FFE;
            }
            .joinUs-platform-info a{
                text-decoration: none;
                color: #F6FAFF;
            }
            .joinUs-platform-info:hover{
                background-color: #041849fb;
                cursor: pointer;
            }
        }
        
        .platform-icons {
            background-color: #F6FAFF;
            color: #1F5FFE;

            .icons-container{
                margin: 1.5rem 0 0 8rem;
            }
        }

    }



    .bg-img-info {
        background-image: url(../../../public/img/pexels-mart-production-7709266.jpg);
        background-position: center center;
        background-size: cover;
        height: 78vh;
    }
}