.dashbord {
    margin: 1.4rem 0 0 .2rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;

    .social-side-icons {
        /* background-color: #0000ff24; */
        padding: 8rem 0 0 2rem;
        width: 5vw;
    }
    
    .icons-info-style {
        padding: 3rem 0 1rem 0;
        font-size: 1.2rem;
        color: #22293d;
    }
    .icons-info-style:hover {
        color: #167c7c5b;
    }

    .dash-container {
        /* background-color: #ffa4b347; */
        width: 100vw;
        height: 90vh;
        border-radius: 2rem;

        .header-img {
            background-image: url(../../public/img/abyan-athif-K0U0eSAjFGU-unsplash.jpg);
            height: 30vh;
            border-radius: .7rem;
            background-size: cover;
            background-position: center;
        }
    }

    .dash-ul {
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        padding-left: 1.8rem;
        padding-top: .8rem;
        
        .dash-li {
        text-decoration: none;
        font-weight: 500;
        color: #303545;
        }
    }
    
    .dash-info-containerDivs {
        background-color: #3fb8b83b;
        height: 50vh;
        margin: 1rem 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .col1 {
            width: 31vw;
            background-color: #faebd752;
        }

        .col2 {
            width: 31vw;
            background-color: #eec08382;
        }

        .col3 {
            width: 30vw;
            background-color: #a762073f;
        }
    }
}